{% include metadata %}


<div class="book-page">
	<h1>{{ page.title }}</h1>

	{% comment %}Subheadline{% endcomment %}
	{% if page.original-language and page.original-language != "" %}
		<p class="subheadline">{{ locale.book.originally-in }} {{ page.original-language }}</p>
	{% endif %}

	{% comment %}Publisher and logo, if any{% endcomment %}
	{% if page.contributors.publisher and page.contributors.publisher != "" %}

		{% assign publisher-data = site.data.organisations | where: 'name', page.contributors.publisher %}

		<p class="image-with-caption book-publisher">

			{% if publisher-data[0].logo and publisher-data[0].logo != "" %}

				{% if publisher-data[0].url and publisher-data[0].url != "" %}
						<a href="{{ publisher-data[0].url }}">
				{% endif %}

					{% capture publisher-logo-file %}{{ publisher-data[0].logo }}{% endcapture %}
					{% include image file=publisher-logo-file class="book-publisher-logo" %}

				{% if publisher-data[0].url and publisher-data[0].url != "" %}
					</a>
				{% endif %}

			{% endif %}

				{{ locale.book.supported-by }}<br />

					{% if publisher-data[0].url and publisher-data[0].url != "" %}
						<a href="{{ publisher-data[0].url }}">
					{% endif %}

					{{ page.contributors.publisher }}

					{% if publisher-data[0].url and publisher-data[0].url != "" %}
						</a>
					{% endif %}

		</p>

	{% endif %}

	{% comment %}Description{% endcomment %}
	<p class="book-description">
		{{ page.description }}
	</p>

	{% comment %}Contributors{% endcomment %}
	<ul>
		{% if page.contributors.writer and page.contributors.writer != "" %}
			<li>{{ locale.book.written-by }} {{ page.contributors.writer }}</li>
		{% endif %}
		{% if page.contributors.illustrator and page.contributors.illustrator != "" %}
			<li>{{ locale.book.illustrated-by }} {{ page.contributors.illustrator }}</li>
		{% endif %}
		{% if page.contributors.designer and page.contributors.designer != "" %}
			<li>{{ locale.book.designed-by }} {{ page.contributors.designer }}</li>
		{% endif %}
		{% if page.contributors.editor and page.contributors.editor != "" %}
			<li>{{ locale.book.edited-by }} {{ page.contributors.editor }}</li>
		{% endif %}
	</ul>

	{% comment %}Download links{% endcomment %}
	<div class="book-links">
		{% if page.links.pdf-ebook and page.links.pdf-ebook != "" %}
			<a href="{{ page.links.pdf-ebook }}" class="button">{{ locale.book.download-pdf }}</a>
		{% endif %}
		{% if page.links.source-files and page.links.source-files != "" %}
			<a href="{{ page.links.source-files }}" class="button">{{ locale.book.source-files }}</a>
		{% endif %}
	</div>

	{% comment %}Images of the book cover and spreads{% endcomment %}
	<div class="book-images">

		{% if page.images.cover and page.images.cover != "" %}
			{% include image file=page.images.cover class="cover" %}
		{% endif %}

		{% if page.images.title-page and page.images.title-page != "" %}
			{% include image file=page.images.title-page class="title-page" %}
		{% endif %}

		{% if page.images.dps-1 and page.images.dps-1 != "" %}
			{% include image file=page.images.dps-1 class="dps-1" %}
		{% endif %}

		{% if page.images.dps-2 and page.images.dps-2 != "" %}
			{% include image file=page.images.dps-2 class="dps-2" %}
		{% endif %}

		{% if page.images.dps-3 and page.images.dps-3 != "" %}
			{% include image file=page.images.dps-3 class="dps-3" %}
		{% endif %}

		{% if page.images.dps-4 and page.images.dps-4 != "" %}
			{% include image file=page.images.dps-4 class="dps-4" %}
		{% endif %}

		{% if page.images.dps-5 and page.images.dps-5 != "" %}
			{% include image file=page.images.dps-5 class="dps-5" %}
		{% endif %}

		{% if page.images.dps-6 and page.images.dps-6 != "" %}
			{% include image file=page.images.dps-6 class="dps-6" %}
		{% endif %}

		{% if page.images.dps-7 and page.images.dps-7 != "" %}
			{% include image file=page.images.dps-7 class="dps-7" %}
		{% endif %}

		{% if page.images.dps-8 and page.images.dps-8 != "" %}
			{% include image file=page.images.dps-8 class="dps-8" %}
		{% endif %}

		{% if page.images.dps-9 and page.images.dps-9 != "" %}
			{% include image file=page.images.dps-9 class="dps-9" %}
		{% endif %}

		{% if page.images.dps-10 and page.images.dps-10 != "" %}
			{% include image file=page.images.dps-10 class="dps-10" %}
		{% endif %}

		{% if page.images.dps-11 and page.images.dps-11 != "" %}
			{% include image file=page.images.dps-11 class="dps-11" %}
		{% endif %}

		{% if page.images.copyright-page and page.images.copyright-page != "" %}
			{% include image file=page.images.copyright-page class="copyright-page" %}
		{% endif %}

	</div>
</div>
