# {{ page.title }}

Originally written in {{ page.original-language }}.
{:.subheadline}

{{ page.description }}

- Written by {{ page.contributors.writer }}
- Illustrated by {{ page.contributors.illustrator }}
- Designed by {{ page.contributors.designer }}
- Edited by {{ page.contributors.editor }}

Supported by [{{ page.contributors.publisher }}]({{ page.links.publisher-url }})
{% include image file=page.publisher-logo class="book-publisher-logo" %}

[Download PDF]({{ page.links.source-files }}){:.button}
[Source files]({{ page.links.pdf-ebook }}){:.button}

{% include image file=page.images.cover class="cover" %}

{% include image file=page.title-page class="title-page" %}
{% include image file=page.dps-1 class="dps-1" %}
{% include image file=page.dps-2 class="dps-2" %}
{% include image file=page.dps-3 class="dps-3" %}
{% include image file=page.dps-4 class="dps-4" %}
{% include image file=page.dps-5 class="dps-5" %}
{% include image file=page.dps-6 class="dps-6" %}
{% include image file=page.dps-7 class="dps-7" %}
{% include image file=page.dps-8 class="dps-8" %}
{% include image file=page.dps-9 class="dps-9" %}
{% include image file=page.dps-10 class="dps-10" %}
{% include image file=page.dps-11 class="dps-11" %}
{% include image file=page.copyright-page class="copyright-page" %}
