{% include metadata %}

<div class="book-listing">

	<h3><a href="{{ book.url }}">{{ book.title }}</a></h3>

	<a href="{{ book.url }}">
		{% include image file=book.images.cover class="thumbnail" %}
	</a>

	<p>{{ book.description }}</p>

	<ul>
		<li>{{ locale.book.written-by }} {% if book.original-language and book.original-language != "" %}in {{ book.original-language }}{% endif %} by {{ book.contributors.writer }}</li>
		<li>{{ locale.book.illustrated-by }} {{ book.contributors.illustrator }}</li>
		<li>{{ locale.book.designed-by }} {{ book.contributors.designer }}</li>
		<li>{{ locale.book.edited-by }} {{ book.contributors.editor }}</li>
	</ul>

	{% if book.price.default and book.price.default != "" %}
		<div class="pricing">
			<h4>Pricing</h4>
			<p>Price per copy when ordering 100 copies or more:</p>
			<ul>
				{% if book.price.default and book.price.default != "" %}
					<li class="book-listing-price-default">R{{ book.price.default }}</li>
				{% endif %}
				{% if book.price.en and book.price.en != "" %}
					<li class="book-listing-price-en">English: R{{ book.price.en }}</li>
				{% endif %}
			</ul>
		</div>
	{% endif %}

	<p>
		{% for language in site.data.locales %}
			
			{% capture book-url %}{{ book.url | replace: "/en", "" }}{{ language[0] }}{% endcapture %}

			<a href="{{ book-url }}" class="button">
				{{ language[1].local-name }}
			</a>
		{% endfor %}
	</p>

</div>
